<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">

    <title>AGENDA CONTACTOS</title>
</head>

<body>
    <h2> FUNCIONA ESTO</h2>

    <form action="agregar" method="post">

        <input type="text" name="nombre" placeholder="Ingresar Nombre">
        <input type="text" name="apellido" placeholder="Ingresar Apellido">
        <input type="text" name="direccion" placeholder="Ingresar Direccion">
        <input type="text" name="telefono" placeholder=" Ingresar Telefono">
        <button type="submit">Agendar Contacto</button>
        <br>

        <% Contacto.map(item => { %>
            <a href="contacto/<%= item.id %>">
                <%= item.datos.nombre %>
            </a>
            <a href="borrar/<%= item.id %>">BORRAR</a>
            <% }) %>

    </form>
</body>

</html>